// Primary Colors
$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);

// Neutral Colors
$color-white: hsl(0, 0%, 100%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-blue: hsl(235, 16%, 14%);
$color-very-dark-mostly-black-blue: hsl(234, 17%, 12%);

// Typography
$default-font: 'Red Hat Text', sans-serif;

// Body copy
$body-font-size: 0.875em; // 14px

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: $default-font;
  font-size: $body-font-size;
  line-height: 1.5em;
  background: url('../images/bg-stars.svg');
  background-color: $color-very-dark-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $default-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  margin-top: 20vh;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  &__heading {
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.2em;
  }
  &__countdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
}

.countdown-item + .countdown-item {
  margin-top: 0;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;

  &__cell {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__cell-text {
    position: absolute;
    color: $color-soft-red;
  }

  &__backdrop {
    background-color: $color-dark-desaturated-blue;
    height: 40px;
    width: 85%;
    margin-top: 0;
    -webkit-box-shadow: 0px 9px 7px -1px rgba(25,26,36,1);
    -moz-box-shadow: 0px 9px 7px -1px rgba(25,26,36,1);
    box-shadow: 0px 9px 7px -1px rgba(25,26,36,1);
  }

  &__backdrop--top {
    border-radius: 7px 7px 8px 8px;
    border-bottom: 1px solid $color-very-dark-blue;
  }

  &__backdrop--down {
    border-radius: 8px 8px 7px 7px;
    border-top: 1px solid $color-dark-desaturated-blue;
  }

  &__label {
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-top: 15px;
    color: $color-grayish-blue;
  }
}

footer {
  background: url('../images/pattern-hills.svg');
  height: 8rem;
  width: 100%;
  text-align: center;
  color: hsla(345, 95%, 68%, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .social-links img {
    margin-right: 2em;
  }

  .social-links__link:hover,
  .social-links__link:focus {
    filter: invert(53%) sepia(20%) saturate(2712%) hue-rotate(307deg) brightness(100%) contrast(97%);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    padding: 0.8em;
  }
  .attribution a {
    color: hsla(345, 95%, 68%, 0.6);
  }

  .attribution a:hover,
  .attribution a:active {
    color: hsla(0, 0%, 100%, 0.6);
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .container {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .main-content {

    &__heading {
      font-size: 2em;
    }
  }

  .countdown-item {

    &__label {
      font-size: 0.7em
    }
    &__cell-text {
      font-size: 3.8rem;
    }
  }
  footer {
    padding-top: 3rem;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .container {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .main-content {

    &__heading {
      font-size: 1.8em;
    }
  }

  .countdown-item {

    &__label {
      font-size: 0.7em
    }
    &__cell-text {
      font-size: 3.6rem;
    }
  }
  footer {
    padding-top: 2rem;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .main-content {

    &__heading {
      font-size: 1.3em;
    }
    &__countdown-wrapper {
      margin-top: 4rem;
    }
  }

  .countdown-item {

    &__label {
      font-size: 0.8em
    }
    &__backdrop {
      width: 80%;
    }
    &__cell-text {
      font-size: 3.2rem;
    }
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .main-content {

    &__heading {
      font-size: 1.7em;
    }
    &__countdown-wrapper {
      margin-top: 5rem;
    }
  }

  .countdown-item {

    &__label {
      font-size: 0.8em
    }
    &__cell-text {
      font-size: 3.2rem;
    }
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .main-content {
    margin-top: 25vh;
    margin-bottom: 10vh;

    &__heading {
      font-size: 1.2em;
    }
  }
  .countdown-item {

    &__label {
      font-size: 0.8em
    }
    &__cell-text {
      font-size: 3.2rem;
    }
  }
  footer {
    padding-top: 2rem;
    background-position: right -10px top;

    .social-links {
      &__link img {
        width: 22px;
        height: 22px;
      }
    }
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .container {
    padding: 0.8em;
  }

  .main-content {
    margin-top: 25vh;
    margin-bottom: 10vh;

    &__heading {
      font-size: 1em;
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
  }
  footer {
    padding-top: 2rem;
    background-position: right -10px top;

    .social-links {
      &__link img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
